@font-face {
   font-family: "Adigiana";
   src: url("../Adigiana.ttf") format("truetype");
}
body{
   margin: 0;
}
html{
   font-family: 'Adigiana', Arial, sans-serif;
   font-weight: normal;
   font-weight: normal;
   scroll-behavior: smooth;
}

.header{
   height: 55vh; 
   margin-top: 20px;
   background-image: url("../img/backHeader.jpg");
   background-position: center;
   background-size: cover; 
   background-repeat: no-repeat;
}

h1{
   text-transform: uppercase;
}
