@font-face {
   font-family: "Adigiana";
   src: url("../Adigiana.ttf") format("truetype");
}
body{
   margin: 0;
}

html{
   font-family: 'Adigiana', Arial, sans-serif;
   font-weight: normal;
   font-weight: normal;
   scroll-behavior: smooth;
}

.header{
   height: 85vh; 
   background-image: url("../img/backHeader.jpg");
   background-position: center;
   background-size: cover; 
   background-repeat: no-repeat;
}

.header .logo img{
   margin-top: 10vh;
}
h1{
   text-transform: uppercase;
}

h2{
   text-transform: uppercase;
}

.carousel.carousel-slider.center {
   height: 65vh;
}
